<h1 class="Titulo">Que debes saber del Instituto superior tecnologico QUITO</h1>
<p class="parrafo"> El ITQ (Instituto Superior Tecnológico Quito) es una institución educativa en Ecuador que ofrece
    carreras técnicas y tecnológicas enfocadas en áreas
    como Tecnología de la Información, Empresas y Gestión, entre otras. Debes saber que su metodología "saber hacer
    bien" integra la práctica con la teoría para desarrollar
    habilidades profesionales. Además, se enfoca en la integración de inteligencia artificial y neurociencia en sus
    programas, buscando formar profesionales íntegros y con
    pensamiento crítico para enfrentar los desafíos del futuro. </p>

<h1 class="Titulo mb-4">Estudiantes por Carreras</h1>

<div class="progress-container mx-auto">
    <div class="mb-3">
        <span class="progress-label">Contabilidad</span>
        <div class="progress">
            <div class="progress-bar bg-primary" style="width: 80%">80%</div>
        </div>
    </div>

    <div class="mb-3">
        <span class="progress-label">Redes y Telecomunicaciones</span>
        <div class="progress">
            <div class="progress-bar bg-success" style="width: 65%">65%</div>
        </div>
    </div>

    <div class="mb-3">
        <span class="progress-label">Administración</span>
        <div class="progress">
            <div class="progress-bar bg-warning text-dark" style="width: 50%">50%</div>
        </div>
    </div>

    <div class="mb-3">
        <span class="progress-label">Diseño Gráfico</span>
        <div class="progress">
            <div class="progress-bar bg-info text-dark" style="width: 40%">40%</div>
        </div>
    </div>

    <div class="mb-3">
        <span class="progress-label">Desarrollo de Software</span>
        <div class="progress">
            <div class="progress-bar bg-danger" style="width: 100%">100%</div>
        </div>
    </div>
</div>
