body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: white;
}
.btn {
    padding: 8px 20px;
    border-radius: 0 px;
    overflow: hidden;

    &::before{
        position: absolute;
        content: "";
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            120deg,
            transparent,
            var(--primry-color),
            transparent
        );
        transform: translateX(-100%);
        transition: 0.6s;
    }
    &:hover{
        background: transparent;
        box-shadow: 0 0 20px 10px rgb(12, 27, 236);
    &::before{
        transform: translateX(100%);
    
    }
}

}

.form-input-material{
    --input-default-border-color: #fcfcfc;
    --input-border-bottom-color: white;

    input{
        color: rgb(157, 182, 16);
    }

}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 40px;
    color: rgb(0, 0, 0);
    background: rgb(236, 145, 145);
    border-radius: 10px;

box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.112),
    0 2.3px 2.2px rgba(0, 0, 0, 0.09),
    0 8.5px 8px rgba(0, 0, 0, 0.07),
    0 38px 36px rgba(0, 0, 0, 0.05),
    0 100px 95px rgba(0, 0, 0, 0.03);

h1 {
    margin: 0 0 24px 0
}

.form-input-material {
    margin: 12px 0;
}

.btn{
    width: 100%;
    margin: 18px 0 9px 0;
}
}