.elwis {
text-align: center;
    padding: 3px;
    align-items: center;
    margin-left: 14px;
}

.social-icon, .card-body li a {
    display: inline-block;
    color: #28a745; 
    font-weight: bold;
    padding: 5px 0; 
    transition: color 0.2s;
    text-align: center;
}

.social-icon:hover, .card-body li a:hover {
    color: #000000; 
}

.social-icon i, .card-body li i {
    margin-right: 5px;
}

.card-text {
    color: #555;
    font-size: 0.9em; 
    padding: 0 8px; 
}

.card-body a[href] {
    display: block; 
    padding: 3px 0;
    color: #28a745;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
}

.card-body a[href]:hover {
    color: #1e7e34;
}
