
.tarjeta-3d-contenedor {
    perspective: 1000px; 
}
.tarjeta-3d{
    transition: tranform 0.5s ease-in-out;
    transform-style:preserve-3d ;
}   
.tarjeta-voltear:hover {
    transform: rotateY(20deg);
}

.card{
    background-color: rgb(241, 141, 141);
    border: 5px solid transparent;
    border-image: linear-gradient(to right, #073b5e, #6ecdda, #0c31d6, rgb(1, 1, 59))1;
    animation: fire-border 5s linear infinite;
    border-radius: 5px;
}
