<app-navbar></app-navbar>
<div class="container my-5">

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div *ngFor="let usuario of usuarios" class="col tarjeta-3d-contenedor">
            <div class="tarjeta-3d tarjeta-voltear">
                <div class="card h-100 shadow">
                    <div class="card-body texte-center">
                        <img src="{{usuario.img}}" alt="img" style="width: 95%;" class="elwis">
                        <h5 class="card-title">{{ usuario.nombre}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{usuario.profesion}}</h6>
                        <p class="card-text">{{usuario.descripcion}}</p>
                            <button class="btn btn-primary mt-3" (click)="mostrarDatos(usuario)">Mostrar Datos</button>
                            <div *ngIf="mostrarRedesSociales && usuario.redes && usuario.redes.length >0">
                            <h5>Redes Sociales</h5>
                          <div *ngFor="let red of usuario.redes">
                            <a href="{{red.link}}" style="color: blue">
                                <i class="{{red.icono}} fa-2x"></i> {{red.nombre}}
                            </a>
                          </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<button class="btn btn-secondary mt-4"(click)="mostrarRedesSociales=!mostrarRedesSociales">{{mostrarRedesSociales ? 'ocultar' : 'mostrar'}} Redes Sociales </button>
    
<br><br><br><br><br><br><br><br><br><br><br>
<app-footer></app-footer>