<app-navbar></app-navbar>
<br><br><br>
<div class="container mt-4">
  <h2 class="mb-4">Lista de Estudiantes</h2>
  <div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
      <thead class="table-dark">
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Cédula</th>
          <th>Carrera</th>
          <th>Notas</th>
          <th>Estado</th>
          <th></th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let estudiante of estudiantes">
          <td>{{ estudiante.nombre }}</td>
          <td>{{ estudiante.apellido }}</td>
          <td>{{ estudiante.cedula }}</td>
          <td>{{ estudiante.carrera }}</td>
          <td>{{ estudiante.notas }}</td>
          <td>
            <div *ngIf="estudiante.notas >= 70" class="badge bg-success">Aprobado</div>
            <div *ngIf="estudiante.notas < 70" class="badge bg-danger">Reprobado</div>
            
          </td>
          <td>
            <button class="btn btn-primary btn-sm" (click)="MostrarDatos(estudiante)">
              Mostrar Datos
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <h5 style="text-align: center;">
      Total Estudiantes: {{estudiantes.length}}
    </h5>
  </div>
</div>
<br><br><br>
<app-footer></app-footer>