
.card {
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #343a40;
}

.card-text {
  font-size: 1rem;
  color: #6c757d;
}

.card-text.placeholder-glow {
  background-color: #e0e0e0;
  animation: glow 1.5s infinite ease-in-out;
}

@keyframes glow {
  0% { background-color: #e0e0e0; }
  50% { background-color: #c8c8c8; }
  100% { background-color: #e0e0e0; }
}

.btn-primary {
  background-color: #dd382c;
  border-color: #000000;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.btn-primary.disabled {
  background-color: #d6d6d6;
  border-color: #d6d6d6;
  cursor: not-allowed;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
  background-color: #e0e0e0;
  animation: glow 1.5s infinite ease-in-out;
}

.placeholder-glow {
  background-color: #e0e0e0;
  animation: glow 1.5s infinite ease-in-out;
}

.placeholder {
  display: block;
  background-color: #e0e0e0;
  height: 1rem;
  border-radius: 0.375rem;
}

.placeholder.col-6 {
  width: 50%;
}

.placeholder.col-7 {
  width: 70%;
}

.placeholder.col-4 {
  width: 40%;
}

.placeholder.col-8 {
  width: 80%;
}

.footer{
    text-align: center;
  color: #ad1100;
  margin-top: 40px;
  font-size: 2rem;
  font-weight: 700;
}